<!-- <div class="author-wrapper">
  <img class="author-avatar" src="/assets/avatar.jpeg" alt="Dale author avatar" height="128" width="128">
  <div>
    <p>I’m a software Engineer and Content creator. I like to build things and document the journey. See my best posts below or check out the Blog . You can also find me on Twitter, YouTube. If you like my writing, subscribe to get posts in your inbox.

	You can contact me at sushanth.uk@gmail.com,</p>
  </div>

</div> -->

 <p>Get Latest Notification via email for Free!</p>
  <form id="my-form"
  autocomplete="false" role="form" method="post" action="https://camp.forfreshers.in/form/submit?formId=1"
>
  <label>Email:</label>
  <input type="email" name="mauticform[email]" value="" required />
  <button id="my-form-button" name="mauticform[submit]">Subscribe</button>
  <p id="my-form-status"></p>
  <input type="hidden" name="mauticform[formId]" id="mauticform_subscribersform_id" value="1">
  <input type="hidden" name="mauticform[return]" id="mauticform_subscribersform_return" value="">
  <input type="hidden" name="mauticform[formName]" id="mauticform_subscribersform_name" value="subscribersform">
</form>
